<div class="list-group" role="tablist" id="toolList">
    <h6>Tools</h6>
    <button class="list-group-item list-group-item-action active" data-toggle="list" name="tool" value="pencil">Pencil</button>
    <button class="list-group-item list-group-item-action" data-toggle="list" name="tool" value="rect" checked="true">Rectangle - <input type="Number" min="0"
        id="rectRotate" value="0" style="width: 50px;">ยบ</button> 
    <button class="list-group-item list-group-item-action" data-toggle="list" name="tool" value="arc">Circle</button>
    <button class="list-group-item list-group-item-action" data-toggle="list" name="tool" value="semiarc">Semi Circle</button>
    <button class="list-group-item list-group-item-action" data-toggle="list" name="tool" value="ellipse">Ellipse</button>
    <button class="list-group-item list-group-item-action" data-toggle="list" name="tool" value="line">Line</button>
    <button class="list-group-item list-group-item-action" data-toggle="list" name="tool" value="poligon">Poligon</button>
    <button class="list-group-item list-group-item-action" data-toggle="list" name="tool" value="closedpencil">Closed Pencil</button>
    <button class="list-group-item list-group-item-action" data-toggle="list" name="tool" value="rubber">Rubber</button>
    <button class="list-group-item list-group-item-action" data-toggle="list" name="tool" value="colorpicker">ColorPicker</button>
    <label class="list-group-item list-group-item-action" data-toggle="list" for="imageLoader">Load Local Image</label>
    <input id="imageLoader" class="d-none list-group-item list-group-item-action" type="file" value="Load Image" onchange="loadImage(this)" multiple /><br>
</div>