<% layout('layout') %>

<div class="container">

    <br>
    <input id="characterName" placeholder="Character Name">
    <br><br>
    <div class="row">
        <div class="col-3">
            <% include partials/tools %>
        </div>
        <div class="col-3">
            <canvas id="canvas" width="200" height="400"></canvas>
        </div>
        <div class="col-3">
            <label for="background-color" class="">Background</label>
            
            <input class="form-control" type="color" value="#563d7c" id="background-color">

            <label class="">Border</label><br>
            Width<input type="number" id="border-width" value="1" min="0">
            <br><br>
            <input class="form-control" type="color" value="#000000" id="border-color">
            <br><br>
            <label for="opacity" class="">Opacity</label>
            <input class="form-control-range" type="range" min="0" max="1" value="#000000" id="opacity" value="1" step="0.01">
            
        </div>
    </div>

</div>

<link rel="stylesheet" href="/css/character.css" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"
    integrity="sha512-v8ng/uGxkge3d1IJuEo6dJP8JViyvms0cly9pnbfRxT6/31c3dRWxIiwGnMSWwZjHKOuY3EVmijs7k1jz/9bLA=="
    crossorigin="anonymous"></script>
<script type="module">
    import CharacterEditor from '/js/character/character.js';
    window.CharacterEditor = CharacterEditor;
    window.socket = io();
    new CharacterEditor(document.getElementById('canvas'), document.getElementById('characterName'));
</script>