<% layout('layout') %>

    <div class="row mt-2">
        <div class="col-11">
            <input id="characterName" class="form-control" placeholder="Character Name">
        </div>
        <div class="col-1">
            <button class="btn btn-primary" value="save">Save</button>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-2">
            <% include left/leftMenu %>
        </div>
        <div class="col-8">
            <canvas id="canvas" width="200" height="400"></canvas>
        </div>
        <div class="col-2 ">
            
            <% include right/rightMenu %>
        </div>
    </div>

<link rel="stylesheet" href="/css/character.css" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"
    integrity="sha512-v8ng/uGxkge3d1IJuEo6dJP8JViyvms0cly9pnbfRxT6/31c3dRWxIiwGnMSWwZjHKOuY3EVmijs7k1jz/9bLA=="
    crossorigin="anonymous"></script>
<script type="module">
    import CharacterEditor from '/js/character/character.js';
    window.CharacterEditor = CharacterEditor;
    window.socket = io();
    new CharacterEditor(document.getElementById('canvas'), document.getElementById('characterName'));
</script>