<!--TOOLS-->
<span class="window" id="toolsWindow" style="vertical-align: top; top: 30px; left: 200px;" rowspan="2">
    <span class="windowBar">Tools</span><br>
    <span class="windowContent">
        Grid<br>
        <input type="number" id="gridV" value="20" min="0" />
        x
        <input type="number" id="gridH" value="20" min="0" /><br>

        <input type="checkbox" id="followGrid" value="true">Draw on grid<br>

        <span id="toolList">
            <input type="radio" name="action" value="Rect" checked="true">Rect<input type="Number" min="0"
                id="rectRotate" value="0" style="width: 50px;"><br>
            <input type="radio" name="action" value="Arc">Circle<br>
            <input type="radio" name="action" value="Semiarc">Semi Circle<br>
            <input type="radio" name="action" value="Ellipse">Ellipse<br>
            <input type="radio" name="action" value="Line">Line<br>
            <input type="radio" name="action" value="Polygon">Poligon<br>
            <input type="radio" name="action" value="Pencil">Pencil<br>
            <input type="radio" name="action" value="Abstract">Abstract<br>
            <input type="radio" name="action" value="Rubber">Rubber<br>
            <input type="radio" name="action" value="colorpicker">ColorPicker<br>
            <label for="imageLoader">LoadImage</label>
            <input id="imageLoader" type="file" value="Load Local Image" multiple style="display:none" /><br>
        </span>
        <br>
        MousePos<br><input type="text" id="txtMousePos" /><br>
        <input type="text" id="txtPressedKey" /><br>
    </span>
</span>
<!--COLOR-->
<span class="window" style=" top: 30px; left: 200px;">
    <span class="windowBar">Color</span><br>
    <span class="windowContent">
        <table>
            <tr>
                <td>
                    R<input type="range" id="colorRed" min="0" max="255" value="0" /><br>
                    G<input type="range" id="colorGreen" min="0" max="255" value="0" /><br>
                    B<input type="range" id="colorBlue" min="0" max="255" value="0" /><br>
                    A<input type="range" id="colorAlpha" min="0" max="1" value="1" step="0.01" /><br>
                </td>
                <td id="colorResult" style="width: 20px; cursor: pointer">
                    <input type="color" id="backgroundColor"/>
                </td>
            </tr>
        </table>
        <input type="color" id="borderColor" />
        <input type="Number" id="borderWidth" min="0" value="1" style="width: 50px;" />Border Width<br>
        <input type="Button" id="btnBgColor" value="Set BackGround Color" style="width:100%;" onclick="setBgColor()" />
    </span>
</span>
<!--LAYERS-->
<span class="window" id="layerWindow" style="top: 30px; left: 60px;">
    <span class="windowBar">Layers</span><br>
    <span class="windowContent">
        <div style="list-style-type: none;" id="layersManager"></div>
        <canvas id="layerExampleCanvas"></canvas>
    </span>
</span>

<!--SHAPES-->
<span class="window" id="elemWindow" style="top: 450px; left:60px;">
    <span class="windowBar">Elements</span><br>
    <span class="windowContent">
        <select size="1" value="0" id="layerList"></select>
        <button type="button" class="fa fa-plus" id="createLayer"></button><br>
        <button type="button" class="fa fa-minus" id="removeLayer"></button><br>

        <!--span style="border-style: ridge; display: block; max-height: 600px;"-->
        <!--table id="elemsEditorTable"></table-->
        <div style="list-style-type: none;" id="shapeList"></div>
        <!--/span-->
    </span>
</span>