<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> || JAES</title>
    
    <link rel="stylesheet" href="/css/layout.css">
    
    <script>
        $ = undefined
        <% if (username) { %>
            window._username = '<%= username %>';
        <% } %>
    </script>
</head>