<!DOCTYPE html>
<html lang="en">

<% include partials/header %>
<body>
    <% include partials/navbar %>
    <div id="wrapper">
        <div class="container">
            <%- body -%>
        </div>
    </div>
    <link rel="stylesheet" href="/css/layout.css">
    <script>
        {
            const debugParam = location.search.substr(1).split('&').filter(e => e.match(/^debug=(true|false)/))[0];
            if (!!debugParam) {
                const value = debugParam.split("=")[1];
                if (value === "true") {
                    localStorage.setItem("debug", "1");
                } else {
                    localStorage.removeItem('debug');
                }
            }
        }
    </script>
</body>
</html>