<!DOCTYPE html>
<html lang="en">

<% include partials/header %>
<body>
    <% include partials/navbar %>
    <div id="wrapper">
        <div class="container">
            <%- body -%>
        </div>
    </div>
    <link rel="stylesheet" href="/css/layout.css">
</body>
</html>