<!DOCTYPE html>
<html lang="en">

<% include partials/header %>
<body>
    <% include partials/navbar %>
    <div id="wrapper">
        <%- body -%>
    </div>
    <link rel="stylesheet" href="/css/layout.css">
</body>
</html>