<% layout('layout') %>

<div class="container">
<% if(username) { %>
    <canvas id="canvas"></canvas>
    <script type="module" src="/js/canvas.js"></script>
    <link rel="stylesheet" href="/css/home.css" type="text/css">
<% } %>
</div>