#characterName {
    width: 100%;
}

#canvas{
    border: solid 1px #000000;
    cursor: url('/icons/pencil.ico'), default;
    left: 0;
    margin: 0 auto;
    width: 200px;
    height: 400px;
}

#shapeList canvas {
    height: 30px;
    width: 30px;
    height: auto;
}

.shapeDesc{
    vertical-align: top;
}