<% layout('layout') %>

<span id="alerts"></span>
<div class="row mt-2">
    <div class="col-11">
        <input id="projectName" class="form-control" placeholder="Name">
    </div>
    <div class="col-1">
        <button class="btn btn-primary" value="save" id="save">Save</button>
    </div>
</div>
<div class="row mt-2">
    <div class="col-2">
        <%- include('left/leftMenu') %>
    </div>
    <div class="col-8">
        <div id="canvasBorder" style="border: solid 1px;"><canvas id="canvas" width="800" height="600" tool="pencil"></canvas></div>
        <label id="currentPosition"></label>
    </div>
    <div class="col-2 ">

        <%- include('right/rightMenu') %>
    </div>
</div>

<link rel="stylesheet" href="/css/paintingBoard.css" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"
    integrity="sha512-v8ng/uGxkge3d1IJuEo6dJP8JViyvms0cly9pnbfRxT6/31c3dRWxIiwGnMSWwZjHKOuY3EVmijs7k1jz/9bLA=="
    crossorigin="anonymous"></script>
<script type="module">
    import PaintingBoard from '/js/paintingBoard/paintingBoard.js';
    window.PaintingBoard = PaintingBoard;
    const json = `<%-JSON.stringify(project)%>`;
    let project;
    if(json) project = JSON.parse(json);
    new PaintingBoard(document.getElementById('canvas'), project);
</script>