<% layout('layout') %>
    <span id="alerts"></span>
    <a id="newProjectBtn" href="/paintingBoard2" class="btn btn-primary mt-5">New</a>
    <div id="projectBoard">

        <script type="module" src="/js/paintingBoard2/projects.js"></script>

    </div>