.paintingBoardWindowed {
    .window {
        position: absolute;
        /*top:220px;
                left: 160px;*/
        background-color: white;
        border-style: ridge;
        /*min-height: 200px;*/
        z-index: 1;
        max-height: 1000px;
        cursor: default;


        .windowBar {
            background-color: blue;
            width: 100%;
            display: inline-block;
            color: white;
        }

        .windowContent {
            resize: vertical;
            overflow-y: scroll;
            border-style: ridge;
            display: block;
            min-height: 200px;
            background-color: #cccccc;

            input[type="number"] {
                width: 50px;
            }

            input[type="text"] {
                width: 100px;

            }

            .windowBar {
                background-color: blue;
                width: 100%;
                display: inline-block;
                color: white;
            }


            label[for=imageLoader] {
                cursor: pointer
            }

            #imageLoader {
                display: none;
            }

            #layersManager {
                background-color: #fff;
                border: solid 1px black;
                margin: 5px;

                >.layersManager_layer {
                    &:first-child .btnLayerUp{
                        display: none;
                    }
                    &:last-child .btnLayerDown {
                        display: none;
                    }



                    >.layersManager_layer_head {
                        padding: 5px;
                        border-bottom: solid 1px black;
                        border-top: solid 1px black;
                        >.layersManager_layer_tools {
                            display: inline-block;
                            float: right;
                            >button {
                                background-color: #fff;
                                border-style: none;
                                &:hover {
                                    background-color: #cccccc;
                                }

                                &.btnShowShapes:before {
                                    content: "\002B"
                                }
                                &.btnShowShapes.open:before {
                                    content: "\002D" !important
                                }
                            }
                        }
                    }
                    >.layersManager_layer_shapes {

                        >.layersManager_shapes_head {

                            padding: 5px 20px;
                            
                            >span.layersManager_shapes_title {

                            }
                        }
                    }
                }
            }
        }
    }
}