.paintingBoardWindowed {
    .window {
        position: absolute;
        /*top:220px;
                left: 160px;*/
        background-color: white;
        border-style: ridge;
        /*min-height: 200px;*/
        z-index: 1;
        max-height: 1000px;
        cursor: default;


        .windowBar {
            background-color: blue;
            width: 100%;
            display: inline-block;
            color: white;
        }

        .windowContent {
            resize: vertical;
            overflow-y: scroll;
            border-style: ridge;
            display: block;
            min-height: 200px;
            background-color: #cccccc;

            input[type="number"] {
                width: 50px;
            }

            input[type="text"] {
                width: 100px;

            }

            .windowBar {
                background-color: blue;
                width: 100%;
                display: inline-block;
                color: white;
            }


            label[for=imageLoader] {
                cursor: pointer
            }

            #imageLoader {
                display: none;
            }

            #layersManager {
                background-color: #fff;
                border: solid 1px black;
                margin: 5px;

                .layersManager_layer_title,
                .layersManager_shapes_title {
                    cursor: grabbing;
                }

                >.layersManager_layer {
                    background-color: #fff;

                    



                    >.layersManager_layer_head {
                        padding: 5px;
                        border-bottom: solid 1px black;
                        border-top: solid 1px black;

                        >.layersManager_layer_tools {
                            display: inline-block;
                            float: right;

                            >button {
                                background-color: #fff;
                                border-style: none;
                                outline: none;

                                &:hover {
                                    background-color: #cccccc;
                                }

                                &.btnShowShapes{

                                    &:before {
                                        content: "\002B"
                                    }

                                    &.btnShowSpes.closed:before {
                                        content: "\002D" !important
                                    }
                                    
                                }
                                &.btnLayerHide[hide=true] {
                                    color: #888;
                                }
                            }
                        }
                    }

                    >.layersManager_layer_shapes {
                        min-height: 30px;
                        transition: all 0.3s ease;

                        &.hidden {
                            display: none;
                        }

                        >.layersManager_shapes_head {

                            padding: 5px 20px;

                            >span.layersManager_shapes_title {}
                        }
                    }
                }
            }
        }
    }
}

.layersManager_layer {
    background-color: #fff;

    &.moving {
        width: 200px;
        z-index: 9999999;
        position: absolute;

        .layersManager_layer_tools,
        .layersManager_layer_shapes {
            display: none;
        }

    }
}

.layersManager_shapes_head {
    background-color: #fff;

    &.moving {
        width: 200px;
        z-index: 9999999;
        position: absolute;


    }
}