<% layout('layout') %>

<div class="container">
    <canvas class="mt-2" id="canvas" width="<%= canvasWidth %>" height="<%= canvasHeight %>"></canvas>
</div>

<link rel="stylesheet" href="/css/game.css" type="text/css">
<script type="module">
    import GameStatus from '/js/canvas/gameStatus.js';
    new GameStatus(<%= canvasWidth %>, <%= canvasHeight %>);
</script>
