<% layout('layout') %>
    <div class="container">
        <div id="shipSelector" class="container">
            <div id="shipSelectorControl">
                <button id="previousShip" style="transform: scaleX(-1);">&#x27A4;</button>
                <button style="display: inline-block" id="startBtn">START</button>
                <button id="nextShip">&#x27A4;</button>
            </div>
            <div id="shipsBlock">

            </div>
        </div>
        <canvas class="mt-2" id="canvas" width="" height=""></canvas>
        <h6>Volume</h6>
        <input type="range" min="0" max="100" id="audioVolume">
    </div>

    <link rel="stylesheet" href="/css/game.css" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"
        integrity="sha512-v8ng/uGxkge3d1IJuEo6dJP8JViyvms0cly9pnbfRxT6/31c3dRWxIiwGnMSWwZjHKOuY3EVmijs7k1jz/9bLA=="
        crossorigin="anonymous"></script>
    <script type="module" src="/js/canvas/gamePreload.js"></script>