<% layout('layout') %>
    <div class="container">
        <div id="shipSelector" class="container">
            <div id="shipSelectorControl">
                <button id="previousShip" style="transform: scaleX(-1);">&#x27A4;</button>
                <button style="display: inline-block" id="startBtn">START</button>
                <button id="nextShip">&#x27A4;</button>
            </div>
            <div id="shipsBlock">

            </div>
        </div>
        <canvas class="mt-2" style="display: none;" id="canvas" width="" height=""></canvas>
        <div>Volume</div>
        <input type="range" min="0" max="100" id="audioVolume">
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/css/game.css" type="text/css">
    <script type="module" src="/js/canvas/gamePreload.js"></script>